button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #933d8a;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #70dc31;
  }