<div>
 

    
  <table >
      <thead >
        <tr>
          <th>ID</th>
          <!-- <th>customerId</th> -->
          <th>FirstName</th>
          <th>LastName</th>
          <th>gender</th>
          <th>yearOfBirth</th>
          <th>maritalStatus</th>
          <th>streetAddress</th>
          <th>postalCode</th>
          <th>city</th>
          <th>cityId</th>
          <th>stateProvince</th>
          <th>stateProvinceId</th>
          <th>countryId</th>
          <th>countryIsoCode</th>
          <th>countryName</th>
          <th>countrySubregion</th>
          <th>mainPhone</th>
          <th>income</th>
          <th>creditLimit</th>
           <th>email</th>
        </thead>
            <tr  *ngFor="let ep of emp">
         <td>{{ep.customerId}} </td>
           <td>{{ep.firstName}}</td>
           <td>{{ep.lastName}}</td>
           <td>{{ep.gender}}</td>
           <td>{{ep.yearOfBirth}}</td>
           <td>{{ep.maritalStatus}}</td>
           <td>{{ep.streetAddress}}</td>
           <td>{{ep.postalCode}}</td>
           <td>{{ep.city}}</td>
           <td>{{ep.cityId}}</td>
           <td>{{ep.stateProvince}}</td>
           <td>{{ep.stateProvinceId}}</td>
           <td>{{ep.countryId}}</td>
           <td>{{ep.countryIsoCode}}</td>
           <td>{{ep.countryName}}</td>
           <td>{{ep.countrySubregion}}</td>
           <td>{{ep.mainPhone}}</td>
           <td>{{ep.income}}</td>
           <td>{{ep.creditLimit}}</td>
           <td>{{ep.email}}</td>
           
          </tr> 
  </table>

</div>
